<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

  <task:annotation-driven/>
  <context:component-scan base-package="org.tiogasolutions.notify"/>

  <!--
    The default configuration uses the couch property placeholder which loads
    properties from a local CouchDB. The default configuration assumes CouchDB
    is running at http://localhost:5984 with the username "app-user" and the
    password "app-user".
  -->
  <bean class="org.tiogasolutions.lib.spring.couchace.CouchPropertyPlaceholderConfigurer">
    <constructor-arg value="notify-server"/>
    <constructor-arg ref="defaultProperties"/>
  </bean>

  <!--
    Defines the list of default properties to be used by the couch property placeholder.
    When not specified in couch, the defaults will be used. If specified in couch, the
    values specified here will be overridden.
  -->
  <util:properties id="defaultProperties">
    <prop key="notify.server.hostName">localhost</prop>
    <prop key="notify.server.port">39011</prop>
    <prop key="notify.server.shutdownPort">39012</prop>
    <prop key="notify.server.context">notify-server</prop>

    <prop key="couchdb.master.url">http://localhost:5984</prop>
    <prop key="couchdb.master.username">app-user</prop>
    <prop key="couchdb.master.password">app-user</prop>
    <prop key="couchdb.master.dbName">tioga-notify</prop>

    <prop key="couchdb.notification.url">http://localhost:5984</prop>
    <prop key="couchdb.notification.username">app-user</prop>
    <prop key="couchdb.notification.password">app-user</prop>
    <prop key="couchdb.notification.dbNamePrefix">tioga-notify-</prop>
    <prop key="couchdb.notification.dbNameSuffix">-notification</prop>

    <prop key="couchdb.request.url">http://localhost:5984</prop>
    <prop key="couchdb.request.username">app-user</prop>
    <prop key="couchdb.request.password">app-user</prop>
    <prop key="couchdb.request.dbNamePrefix">tioga-notify-</prop>
    <prop key="couchdb.request.dbNameSuffix">-request</prop>
    <prop key="push.server.url">https://tiogasolutions.org/push-server/api/v2</prop>
    <!--
      The following properties should never be defaulted
    -->
    <!--<prop key="push.server.username">domain-name</prop>-->
    <!--<prop key="push.server.password">password</prop>-->
    <!--<prop key="push.email.from">from@example.com</prop>-->
    <!--<prop key="push.sms.from">5554443210</prop>-->
    <!--<prop key="trusted.users">admin1:password1,admin2:password2</prop>-->
  </util:properties>

  <bean class="org.tiogasolutions.notify.kernel.config.SystemConfiguration">
    <property name="accessControlAllowOrigin" value="${system.config.accessControlAllowOrigin}"/>
  </bean>

  <bean class="org.tiogasolutions.runners.grizzly.GrizzlyServerConfig"
        p:hostName="${notify.server.hostName}"
        p:port="${notify.server.port}"
        p:shutdownPort="${notify.server.shutdownPort}"
        p:context="${notify.server.context}"
        p:toOpenBrowser="false"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="${couchdb.master.url}"
        p:masterUserName="${couchdb.master.username}"
        p:masterPassword="${couchdb.master.password}"
        p:masterDatabaseName="${couchdb.master.dbName}"

        p:notificationUrl="${couchdb.notification.url}"
        p:notificationUserName="${couchdb.notification.username}"
        p:notificationPassword="${couchdb.notification.password}"
        p:notificationDatabasePrefix="${couchdb.notification.dbNamePrefix}"
        p:notificationDatabaseSuffix="${couchdb.notification.dbNameSuffix}"

        p:requestUrl="${couchdb.request.url}"
        p:requestUserName="${couchdb.request.username}"
        p:requestPassword="${couchdb.request.password}"
        p:requestDatabasePrefix="${couchdb.request.dbNamePrefix}"
        p:requestDatabaseSuffix="${couchdb.request.dbNameSuffix}"/>

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg value="${trusted.users}"/>
  </bean>

  <bean class="org.tiogasolutions.push.client.LivePushServerClient">
    <constructor-arg value="${push.server.url}"/>
    <constructor-arg value="${push.server.username}"/>
    <constructor-arg value="${push.server.password}"/>
  </bean>

  <bean class="org.tiogasolutions.notify.processor.push.PushConfig"
    p:emailFromAddress="${push.email.from}"
    p:smsFromNumber="${push.sms.from}"/>

  <bean class="org.tiogasolutions.notify.engine.web.readers.BundledStaticContentReader">
    <constructor-arg value="/org/tiogasolutions/notify/admin/app"/>
  </bean>

</beans>