<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd
           ">

  <task:annotation-driven/>

  <!-- Define properties. -->
  <context:property-placeholder properties-ref="envProperties"/>
  <util:properties id="envProperties">
      <!-- TODO future props -->
      <prop key="some.prop">value</prop>
  </util:properties>

  <bean class="org.tiogasolutions.runners.grizzly.GrizzlyServerConfig"
        p:hostName="localhost"
        p:port="8080"
        p:shutdownPort="8081"
        p:context="notify-server"
        p:toOpenBrowser="true"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="http://127.0.0.1:5984"
        p:masterUserName="app-user"
        p:masterPassword="app-user"
        p:masterDatabaseName="tioga-notify"

        p:notificationUrl="http://127.0.0.1:5984"
        p:notificationUserName="app-user"
        p:notificationPassword="app-user"
        p:notificationDatabasePrefix="tioga-notify-"
        p:notificationDatabaseSuffix="-notification"

        p:requestUrl="http://127.0.0.1:5984"
        p:requestUserName="couchace"
        p:requestPassword="unittest"
        p:requestDatabasePrefix="tioga-notify-"
        p:requestDatabaseSuffix="-request"/>

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg>
      <util:map id="someId" map-class="java.util.HashMap">
        <entry key="admin1">
          <value>password1</value>
        </entry>
        <entry key="admin2">
          <value>password2</value>
        </entry>
      </util:map>
    </constructor-arg>
  </bean>

  <bean class="org.tiogasolutions.push.client.LivePushServerClient">
    <constructor-arg value="https://tiogasolutions.org/push-server/api/v2"/>
    <constructor-arg value="domain-name"/>
    <constructor-arg value="password"/>
  </bean>

  <bean class="org.tiogasolutions.notify.processor.push.PushConfig"
    p:emailFromAddress="from@example.com"
    p:smsFromNumber="555-444-3210"/>

  <bean class="org.tiogasolutions.notify.engine.web.readers.ExternalizedStaticContentReader">
    <constructor-arg value="${notify.runtime.dir}/../tioga-notify-admin-app"/>
  </bean>

  <context:component-scan base-package="org.tiogasolutions.notify"/>

</beans>