<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

  <context:property-placeholder properties-ref="envProperties"/>
  <util:properties id="envProperties">
    <!-- TODO future props -->
    <prop key="some.prop">value</prop>
  </util:properties>

  <task:annotation-driven/>
  <context:component-scan base-package="org.tiogasolutions.notify"/>

  <bean class="org.tiogasolutions.notify.engine.web.readers.ExternalizedStaticContentReader">
    <constructor-arg value="${notify_runtime_dir}/../tioga-notify-admin-app"/>
  </bean>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchEnvironment">
  </bean>

  <bean class="org.tiogasolutions.notify.kernel.config.SystemConfiguration">
    <constructor-arg value="*"/>
    <constructor-arg value="/api/v1/admin"/>
    <constructor-arg value="true"/>
  </bean>

  <bean class="org.tiogasolutions.runners.grizzly.GrizzlyServerConfig"
        p:hostName="localhost"
        p:port="39011"
        p:shutdownPort="39012"
        p:context=""
        p:toOpenBrowser="false"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="http://localhost:5984"
        p:masterUsername="app-user"
        p:masterPassword="app-user"
        p:masterDatabaseName="local-notify"

        p:notificationUrl="http://localhost:5984"
        p:notificationUsername="app-user"
        p:notificationPassword="app-user"
        p:notificationDatabasePrefix="local-notify-"
        p:notificationDatabaseSuffix="-notification"

        p:requestUrl="http://localhost:5984"
        p:requestUsername="app-user"
        p:requestPassword="app-user"
        p:requestDatabasePrefix="local-notify-"
        p:requestDatabaseSuffix="-request"
    />

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg>
      <util:map id="someId" map-class="java.util.HashMap">
        <entry key="admin">
          <value>Testing123</value>
        </entry>
      </util:map>
    </constructor-arg>
  </bean>

</beans>