<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

  <task:annotation-driven/>

  <context:property-placeholder properties-ref="envProperties"/>
  <util:properties id="envProperties">
    <prop key="notify.runtime.dir">../runtime</prop>
    <prop key="push.server.url">http://www.tiogasolutions.com/push-server</prop>
    <prop key="push.server.username">notify-server</prop>
    <prop key="push.server.password">notify-server-password</prop>
    <prop key="push.email.from">notify-server@tiogasolutions.org</prop>
    <prop key="push.sms.from">559-640-7277</prop>
    <prop key="system.config.accessControlAllowOrigin">*</prop>
  </util:properties>

  <context:component-scan base-package="org.tiogasolutions.notify"/>

  <bean class="org.tiogasolutions.runners.grizzly.GrizzlyServerConfig"
        p:hostName="localhost"
        p:port="39011"
        p:shutdownPort="39012"
        p:context="notify-server"
        p:toOpenBrowser="true"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="http://localhost:5984"
        p:masterUserName="app-user"
        p:masterPassword="app-user"
        p:masterDatabaseName="notify"

        p:notificationUrl="http://localhost:5984"
        p:notificationUserName="app-user"
        p:notificationPassword="app-user"
        p:notificationDatabasePrefix="notify-"
        p:notificationDatabaseSuffix="-notification"

        p:requestUrl="http://localhost:5984"
        p:requestUserName="app-user"
        p:requestPassword="app-user"
        p:requestDatabasePrefix="notify-"
        p:requestDatabaseSuffix="-request"
    />

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg>
      <util:map id="someId" map-class="java.util.HashMap">
        <entry key="jacobp">
          <value>Testing123</value>
        </entry>
      </util:map>
    </constructor-arg>
  </bean>

  <bean class="org.tiogasolutions.notify.engine.web.readers.BundledStaticContentReader">
    <constructor-arg value="/org/tiogasolutions/notify/admin/app"/>
  </bean>

  <bean class="org.tiogasolutions.notify.kernel.config.SystemConfiguration">
    <property name="accessControlAllowOrigin" value="${system.config.accessControlAllowOrigin}"/>
  </bean>

  <bean class="org.tiogasolutions.notify.kernel.task.TaskProcessorExecutor">
    <constructor-arg index="0" ref="domainKernel"/>
    <constructor-arg index="1" ref="eventBus"/>
    <constructor-arg index="2">
      <list>
        <ref bean="swingTaskProcessor"/>
        <ref bean="loggerTaskProcessor"/>
        <ref bean="pushTaskProcessor"/>
        <ref bean="slackTaskProcessor"/>
        <ref bean="smtpTaskProcessor"/>
      </list>
    </constructor-arg>
  </bean>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchEnvironment">
    <constructor-arg value="true"/>
  </bean>

</beans>