<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

  <task:annotation-driven/>

  <context:property-placeholder properties-ref="envProperties"/>
  <util:properties id="envProperties">
      <prop key="notify.runtime_dir">../runtime</prop>
  </util:properties>

  <bean class="org.tiogasolutions.notify.server.grizzly.GrizzlyServerConfig"
        p:serverName="localhost"
        p:port="8080"
        p:shutdownPort="8081"
        p:context="lq-server"
        p:openBrowser="true"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="http://localhost:5984"
        p:masterUserName="app-user"
        p:masterPassword="app-user"
        p:masterDatabaseName="notify"

        p:notificationUrl="http://localhost:5984"
        p:notificationUserName="app-user"
        p:notificationPassword="app-user"
        p:notificationDatabasePrefix="notify-"
        p:notificationDatabaseSuffix="-notification"

        p:requestUrl="http://localhost:5984"
        p:requestUserName="app-user"
        p:requestPassword="app-user"
        p:requestDatabasePrefix="notify-"
        p:requestDatabaseSuffix="-request"
    />

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg>
      <util:map id="someId" map-class="java.util.HashMap">
        <entry key="harlann">
          <value>Testing321</value>
        </entry>
        <entry key="jacobp">
          <value>Testing123</value>
        </entry>
      </util:map>
    </constructor-arg>
  </bean>

  <bean class="org.tiogasolutions.push.gateway.LiveCosmicPushGateway">
    <constructor-arg value="LiquidNotifications"/>
    <constructor-arg value="testing123"/>
  </bean>

  <bean class="org.tiogasolutions.notify.processor.push.PushConfig"
    p:emailFromAddress="bot@jacobparr.com"
    p:smsFromNumber="7745677277"/>

  <bean class="org.tiogasolutions.notify.engine.web.StaticContentReader">
    <constructor-arg value="${notify.runtime_dir}/../tioga-notify-admin-app"/>
  </bean>

  <context:component-scan base-package="org.tiogasolutions.notify"/>

</beans>