<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Define properties. -->
  <context:property-placeholder properties-ref="envProperties"/>
  <util:properties id="envProperties">
      <!-- TODO future props -->
      <prop key="some.prop">value</prop>
  </util:properties>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="http://127.0.0.1:5984"
        p:masterUserName="couchace"
        p:masterPassword="unittest"
        p:masterDatabaseName="notify-master"

        p:notificationUrl="http://127.0.0.1:5984"
        p:notificationUserName="couchace"
        p:notificationPassword="unittest"
        p:notificationDatabasePrefix="notify-notification-"

        p:requestUrl="http://127.0.0.1:5984"
        p:requestUserName="couchace"
        p:requestPassword="unittest"
        p:requestDatabasePrefix="notify-request-"/>

  <bean class="org.tiogasolutions.notify.processor.push.TestCosmicPushGateway"/>

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg>
      <util:map id="someId" map-class="java.util.HashMap">
        <entry key="harlann">
          <value>Testing321</value>
        </entry>
        <entry key="jacobp">
          <value>Testing123</value>
        </entry>
      </util:map>
    </constructor-arg>
  </bean>

  <bean class="org.tiogasolutions.notify.processor.push.PushConfig"
    p:emailFromAddress="bot@jacobparr.com"
    p:smsFromNumber="7745677277"/>

  <context:component-scan base-package="org.tiogasolutions.notify"/>

</beans>