<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd
           ">

  <task:annotation-driven/>
  <context:component-scan base-package="org.tiogasolutions.notify"/>

  <!-- Define properties. -->
  <bean class="org.tiogasolutions.lib.spring.couchace.CouchPropertyPlaceholderConfigurer">
    <constructor-arg value="notify-server"/>
  </bean>

  <bean class="org.tiogasolutions.notify.server.grizzly.GrizzlyServerConfig"
        p:serverName="${notify.server.name}"
        p:port="${notify.server.port}"
        p:shutdownPort="${notify.server.shutdownPort}"
        p:context="${notify.server.context}"
        p:openBrowser="false"/>

  <bean class="org.tiogasolutions.notify.kernel.config.CouchServersConfig"
        p:masterUrl="${couchdb.master.url}"
        p:masterUserName="${couchdb.master.username}"
        p:masterPassword="${couchdb.master.password}"
        p:masterDatabaseName="${couchdb.master.dbName}"

        p:notificationUrl="${couchdb.notification.url}"
        p:notificationUserName="${couchdb.notification.username}"
        p:notificationPassword="${couchdb.notification.password}"
        p:notificationDatabasePrefix="${couchdb.notification.dbNamePrefix}"
        p:notificationDatabaseSuffix="${couchdb.notification.dbNameSuffix}"

        p:requestUrl="${couchdb.request.url}"
        p:requestUserName="${couchdb.request.username}"
        p:requestPassword="${couchdb.request.password}"
        p:requestDatabasePrefix="${couchdb.request.dbNamePrefix}"
        p:requestDatabaseSuffix="${couchdb.request.dbNameSuffix}"/>

  <bean class="org.tiogasolutions.notify.kernel.config.TrustedUserStore">
    <constructor-arg value="${trusted.users}"/>
  </bean>

  <bean class="org.tiogasolutions.push.client.LivePushServerClient">
    <constructor-arg value="${push.server.url}"/>
    <constructor-arg value="${push.server.username}"/>
    <constructor-arg value="${push.server.password}"/>
  </bean>

  <bean class="org.tiogasolutions.notify.processor.push.PushConfig"
    p:emailFromAddress="${push.email.from}"
    p:smsFromNumber="${push.sms.from}"/>

  <bean class="org.tiogasolutions.notify.engine.web.StaticContentReader">
    <constructor-arg value="${notify.runtime_dir}/../tioga-notify-admin-app"/>
  </bean>

</beans>